<% if !user_signed_in? %> 
  <div class="jumbotron">
    <h1>Find awesome places to do mediocre things</h1>
    <p><%= link_to "Sign up to share your favorite places", new_user_registration_path, class: 'btn btn-primary btn-lg'%></p>
  </div>
<% end %> 

<div class="row"> 
  <% @places.each do |p| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag p.image.url(:medium), class: 'image'), p %>
      </div>
    <%= p.name %> 
    </div>
  <% end %>
</div> 